.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  padding: 20px;
  z-index: 99;
}

.logo {
}
.links {
}

.links ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.links li {
}

.links a {
  font-family: "Cormorant SC", serif;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

